/* @font-face */
@font-face{
	font-family: Kingthings Xstitch;
	src: url('fonts/Kingthings Xstitch.ttf')
}
@font-face{
	font-family: Kingthings Wrote;
	src: url('fonts/Kingthings Wrote.ttf')
}
*{
	border: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	list-style-position: outside;
}
body{
	font-family: Verdana, Geneva, Arial, sans-serif;
  	font-size: medium;  
  	background: url('img/background.jpg') no-repeat center center fixed;
  	background-size: cover;
  	
}
.extendLeft
{
	padding-left: 3000px;
	margin-left: -3000px;
}
#sideMenu{
	background-color: grey;
	width: 15%;
	height: 100px;
	margin-right: 10px;
	border: solid black;
	border-radius: 2em;
	-webkit-border-top-right-radius: 2em;
	-moz-border-radius-topright: 2em;
	-webkit-border-bottom-right-radius: 2em;
	-moz-border-radius-bottomright: 2em;
	border-bottom-radius: 2em;
}

#sideMenu a{
	color: WHITE;
	display: block;
	margin-top: 1em;
}
h2{
	margin-top: 15px;
	text-align: center;
	font-size: 3.0em;
	font-family: Kingthings Xstitch;
}
#box, #menuBox, #scoreBox{
	margin: 100px auto;	
	border: 4px solid #8FB5C1;	
	background-color:#F2F7F9;
}
#scoreBox {
	width: 600px;
	height: 800px;
}
#box{
	width: 370px;
	height: 950px;
}
#menuBox{
	width: 500px;
	height: 250px;
}
#box li, #scoreBox {
	padding: 0 0 25px 15px;
}
#box p {
	text-align: center;
}
#box li input {
	margin-left: 5px;
	padding: 5px 8px;
	font-size: 12px;
	background-color: GREY;
	color: white;
}
#box input[type='text']:focus {
	padding-right: 70px;
}
#box li input:focus {
	-moz-transition: padding .25s;
	-webkit-transition: padding .25s;
	-o-transition: padding .25s;
	transition: padding .25s;
}
#menuBox li, #scoreBox li {
	text-align: center;
	padding-top: 40px;
}
#menuBox li a {
	font-family: Kingthings Wrote;
	font-size: 1em;
	color: #5a200a;
}
#menuBox li a:hover {
	text-decoration: underline;
	color: red;
}
.submit {
  background: #eb0533;
  background-image: -webkit-linear-gradient(top, #eb0533, #e31948);
  background-image: -moz-linear-gradient(top, #eb0533, #e31948);
  background-image: -ms-linear-gradient(top, #eb0533, #e31948);
  background-image: -o-linear-gradient(top, #eb0533, #e31948);
  background-image: linear-gradient(to bottom, #eb0533, #e31948);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 7px 20px 7px 20px;
  text-decoration: none;
}.submit:hover {
  background: #080808;
  background-image: -webkit-linear-gradient(top, #080808, #4f575c);
  background-image: -moz-linear-gradient(top, #080808, #4f575c);
  background-image: -ms-linear-gradient(top, #080808, #4f575c);
  background-image: -o-linear-gradient(top, #080808, #4f575c);
  background-image: linear-gradient(to bottom, #080808, #4f575c);
  text-decoration: none;
}
