{% extends "base.html" %}
{% block the_body %}
<div id="sideMenu" class="extendLeft">
	<ul>
		<li><a href={{home_link}}>Home</a>
		<li><a href={{word_game}}>Play again</a>
	</ul>
</div>
<div id="box">
	<form action="{{ saveWords_url }}" method="POST">
		<p>Source word is:  {{the_srcWrd}}</p>
		<ul>
			<input type="hidden" value={{the_srcWrd}} name="srcWord" id="srcWord">
			<input type="hidden" value={{starting_time}} name="time" id="time">
			<li>Enter a word:<input type ="text" name ="wordOne" id="wordOne" >
			<li>Enter a word:<input type ="text" name ="wordTwo" id="wordTwo" >
			<li>Enter a word:<input type ="text" name ="wordThree" id="wordThree" >
			<li>Enter a word:<input type ="text" name ="wordFour" id="wordFour" >
			<li>Enter a word:<input type ="text" name ="wordFive" id="wordFive" >
			<li>Enter a word:<input type ="text" name ="wordSix" id="wordSix" >
			<li>Enter a word:<input type ="text" name ="wordSeven" id="wordSeven" >
			<li><input type="SUBMIT" value="Check" class="submit">
		</ul>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
	</form>
</div>
{% endblock %}
